<?xml version="1.0"?>
<model>
  <name>Data Driven Dynamics Iris</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_aerodynamics.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jalim@ethz.ch</email>
  </author>

  <description>
    This is a modified version of the 3DR Iris Quadrotor with learned dynamics
  </description>
</model>
