name: SysID Pipeline Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container:
          - "px4io/px4-dev-simulation-focal:2020-11-18" # Gazebo 11
          - "px4io/px4-dev-simulation-bionic:2020-11-18" # Gazebo 9
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v1
      - name: submodule update
        run: git submodule update --init --recursive
      - name: Install python dependencies
        run: make install-dependencies
      - name: Run subsystem level tests on parametric model
        run: Tools/parametric_model/test_parametric_model.sh
      - name: Run multirotor_model estimation for system level test using resource ulog
        run: make estimate-model model=quadrotor_model
      - name: Run multirotor_model estimation for system level test using resource csv
        run: make estimate-model model=quadrotor_model log=resources/quadrotor_model.csv
      - name: Run standardplane_model estimation for system level test using resource ulog
        run: make estimate-model model=standardplane_model
      - name: Run quadplane_model estimation for system level test using resource ulog
        run: make estimate-model model=quadplane_model
      - name: Run quadplane_model estimation for system level test using resource csv
        run: make estimate-model model=quadplane_model log=resources/quadplane_model.csv
      - name: Run tiltwing_model estimation for system level test using small dataset resource csv
        run: make estimate-model model=tiltwing_model log=resources/tiltwing_model_small_dataset.csv
